@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Bangers&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
  font-size: 100%;
}

/* ul{
    list-style-type: decimal;
    margin: auto;
    text-align: center;
}
*/

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content:space-around;
    padding: 24px;
    background: #9932cc;
    max-width: 800px;
    margin: auto;
}

.menu{
    display: flex;
    gap: 30px;
    column-gap: 150px;
    row-gap: 150px;
}

.item{
    font-family: 'Balsamiq Sans', cursive;
    color:rgb(255, 255, 255);
    font-weight: 400;
    font-size: 20px;
    align-self: center;
}

.item:hover{
    color:rgb(0, 0, 0); 
}

.item2{ 
    font-size: 35px;
    color: azure;
}

.item2:hover{
    color:rgb(0, 0, 0);
}

.conteudo{
    margin-bottom: 48px;
    border-top: 0.4px solid darkmagenta ;
}

.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.escrita{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.escrita-titulo{
    font-family: 'Bangers', cursive;
    font-weight: 400;
    font-size: 64px;
    color: darkmagenta;
    padding: 24px;
}

.escrita-subtitulo{
    font-family: 'Balsamiq Sans', cursive;
    font-weight: 500;
    font-size: 30px;
    color: rgb(32, 0, 90);
}

.meu-link{
    background:rgb(153, 50, 204);
    width: 200px;
    height: 50px;
    border: none;
    box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.34);
    border-radius: 27px;
    font-family: 'Bangers', cursive;
    font-weight: 400;
    font-size: 25px;
    color:azure ;
}
.meu-link:hover{
    background:rgb(0, 0, 0);
    cursor: pointer;
}

.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    margin-top: 50px;
}

.titulo-segundario{
    padding-top: 24px;
    font-family: 'Bangers', cursive;
    font-weight: 400;
    font-size: 23px;
    margin-bottom: 14px;
}

.conteudo-paragrafo{
    font-family: 'Balsamiq Sans', cursive;
    font-weight: 250;
    font-size: 20px;
    color: rgb(32, 0, 90);
    border-bottom: 0.8px solid  #9932cc;
}

.rodape{
    padding: 24px;
    border-top: 0.4px solid darkmagenta ;
    background: #9932cc;
}

.rodape-credito{
    font-family: 'Balsamiq Sans', cursive;
    font-weight: 250;
    font-size: 20px;
    color: rgb(255, 255, 255);
    align-content: center;
}

.rodape-credito{
    display: flex;
    justify-content: space-around;
}